table {
    width: 100%;
  }  
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .header-icon{
    float:left;
  }

  .header-label{
    margin-top: 4px;
    float:left;
  }
.button{
  margin-left:-20px;
}
.is-active-d{
  margin-bottom: 10px;
}