<div class="header-icon">
  <mat-icon>local_bar</mat-icon>
</div>
<div class="header-label">
  <mat-label>
    <span>Campaigns</span>
  </mat-label>
</div>

<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div class="is-active-d">
    <mat-checkbox (change)="isActiveChange($event)">Is Active</mat-checkbox>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
      <td mat-cell *matCellDef="let campaign"> {{campaign.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let campaign"> {{campaign.name}} </td>
    </ng-container>
    <ng-container matColumnDef="product.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
      <td mat-cell *matCellDef="let campaign"> {{campaign.product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let campaign"> {{campaign.start_date | date: 'MM/dd/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
      <td mat-cell *matCellDef="let campaign"> {{campaign.end_date | date: 'MM/dd/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active? </th>
      <td mat-cell *matCellDef="let campaign">
        <mat-icon *ngIf="campaign.is_active">check</mat-icon>
        <mat-icon *ngIf="!campaign.is_active">clear</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let campaign">
        <button [routerLink]="['/update-campaign']" [queryParams]="{campaignid: campaign.id}" mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="deleteCampaign(campaign.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[2]" [length]="length" (page)="getServerData($event)" showFirstLastButtons>
  </mat-paginator>
</div>