<div class="header-icon">
  <mat-icon>local_bar</mat-icon>
</div>
<div class="header-label">
  <mat-label>
    <span>{{selectedCampaign ? 'Update Campaign' : 'Add New Campaign'}}</span>
  </mat-label>
</div>
<div class="campaign-container">
  <mat-form-field hintLabel="{{'Max ' + maxLengthValue + ' characters'}}">
    <input [formControl]="nameFC" matInput #input maxlength="maxLengthValue" placeholder="Campaign name">
    <mat-hint align="end">{{input.value?.length || 0}} / maxLengthValue</mat-hint>
  </mat-form-field>
  <mat-error *ngIf="nameFC.touched && nameFC.hasError('required')">
    Name is required.
  </mat-error>
  <mat-error *ngIf="nameFC.touched && nameFC.hasError('maxlength')">
    Name should not exceed {{nameFC.errors['maxlength']}} characters.
  </mat-error>
  <mat-form-field hintLabel="MM/DD/YYYY" class="start-date-mff">
    <input [formControl]="startDateFC" matInput [matDatepicker]="startDatePicker" placeholder="Start Date">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field hintLabel="MM/DD/YYYY" class="end-date-mff">
    <input [formControl]="endDateFC" matInput [matDatepicker]="endDatePicker" placeholder="End Date">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
  </mat-form-field>
</div>

<button [disabled]="nameFC.errors || startDateFC.errors || endDateFC.errors" mat-button class="save-button mat-raised-button mat-primary" (click)="saveUpdateCampaign()">{{selectedCampaign
  ? 'Update' : 'Save'}}</button>