<div>
  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="productMenu">Product</button>
    <button mat-menu-item [matMenuTriggerFor]="campaignMenu">Campaign</button>
  </mat-menu>

  <mat-menu #productMenu="matMenu">
    <button routerLink="/product" mat-menu-item>
      <mat-icon>ballot</mat-icon>
      <span>List</span>
    </button>
    <button routerLink="/add-product" mat-menu-item>
      <mat-icon>add_circle_outline</mat-icon>
      <span>Add</span>
    </button>
  </mat-menu>

  <mat-menu #campaignMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>ballot</mat-icon>
      <span>List</span>
    </button>
    <button mat-menu-item>
      <mat-icon>add_circle_outline</mat-icon>
      <span>Add</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>apps</mat-icon>
  </button>
  <mat-label>Product Content Management System</mat-label>
  <hr />
</div>